@mixin box-shadow-with-hover(
	$size: 8px,
	$fade: 10px,
	$x-shift: 0px,
	$y-shift: 4px,
	$color: rgba(0,0,0,0.1),
	$color-hover: rgba(0,0,0,0.3)
	) {
	transition: 1s;
	box-shadow: $color $x-shift $y-shift $fade $size;
	&:hover {
		box-shadow: $color-hover $x-shift $y-shift $fade $size;
	}
}

@mixin box-shadow(
	$size: 8px,
	$fade: 10px,
	$x-shift: 0px,
	$y-shift: 4px,
	$color: rgba(0,0,0,0.1),
	$transition: 1s
	) {
	transition: $transition;
	box-shadow: $color $x-shift $y-shift $fade $size;
}

@mixin svg-aspect-ratio-wrapper() {
	position: relative;
    &:before{
        display: block;
        content: " ";
        width: 100%;
		//the padding of the psuedo element creats the space for the child element to fill, achieving the constant aspect ratio
		padding-top: 80%;
        padding-top: var(--ratio);
    }
	//this mixin must wrap a single element (the element that should preserve its aspect ratio)
    > * {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}