@import 'variables';
@import 'container';
@import '_mixins';
@import 'utils.scss';
// @import '../icomoon/style';
body, html {
	margin: 0px;
	height: 100%;
}
* {
	box-sizing: border-box;
	font-family: 'Nunito Sans', sans-serif;
}

#app {
	position: relative;
	transition: 1s;
	// background-color: attr(data-active-bg-color);
	background-color: var(--active-bg-color);
}