body {
	// --active-bg-color: red;
	--section-container-width: 768px;
	--background-color: white;
	--app-height: 100%;
	
	--DarkModeElements: hsl(209, 23%, 22%);
	--DarkModeBackground: hsl(207, 26%, 17%);
	--DarkModeText: hsl(0, 0%, 100%);
	--DarkModeBoxShadow: rgba(0,0,0,0.2);


	--LightModeText: hsl(200, 15%, 8%);
	--LightModeInput: hsl(0, 0%, 52%);
	--LightModeBackground: hsl(0, 0%, 98%);
	--LightModeElements: hsl(0, 0%, 100%);
	--LightModeBoxShadow: rgba(0,0,0,0.2);


	--text-large: 20px;
	--text-regular: 16px;

	#app {
		//the page starts on light mode
		--active-element-color: hsl(0, 0%, 100%);//var(--LightModeElements);
		--active-text-color: hsl(200, 15%, 8%);//var(--LightModeText);
		--active-bg-color: hsl(0, 0%, 98%);//var(--LightModeBackground);
		--active-box-shadow-color: rgba(0,0,0,0.2);
		--active-element-color: hsl(0, 0%, 100%);//var(--LightModeElements);

		--inactive-text-color: hsl(0, 0%, 100%);//var(--DarkModeText);
		--inactive-bg-color: hsl(207, 26%, 17%);//var(--DarkModeBackground);
		--inactive-element-color: hsl(209, 23%, 22%);//var(--DarkModeElements);
	}
}

// $activeElementColor: var()



$DarkModeElements: hsl(209, 23%, 22%);
$DarkModeBackground: hsl(207, 26%, 17%);
$LightModeText: hsl(200, 15%, 8%);
$LightModeInput: hsl(0, 0%, 52%);
$LightModeBackground: hsl(0, 0%, 98%);

$DarkModeTextLightModeElements: hsl(0, 0%, 100%);
//these colors are linked
$DarkModeText: $DarkModeTextLightModeElements;
$LightModeElements: $DarkModeTextLightModeElements;

$text-large: 20px;
$text-regular: 16px;